.main {
  padding: 1.25rem;
  border-radius: 1rem;
  background-color: hsl(var(--white));
  text-align: center;
  box-shadow: 0 0 5rem hsl(var(--light-gray));
}

.image {
  border-radius: 0.75rem;
}

.body {
  padding-inline: 0.75rem;
}

.title {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.subtitle {
  margin-top: 1rem;
  color: hsl(var(--grayish-blue));
  line-height: 1.5;
}
